src/main/resources/META-INF/x-jdbc.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns="http://xjdbc.jd.com/schema/xjdbc"
            xmlns:xsd="http://www.w3.org/2001/XMLSchema"
            xmlns:beans="http://www.springframework.org/schema/beans"
            targetNamespace="http://xjdbc.jd.com/schema/xjdbc"
            elementFormDefault="qualified" attributeFormDefault="unqualified">
    <xsd:import namespace="http://www.springframework.org/schema/beans"/>

    <xsd:element name="rwds" id="rwds">
        <xsd:annotation>
            <xsd:documentation><![CDATA[ 读写分离数据源标签 集群数据源ID,路由算法默认随机 ]]></xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:complexContent>
                <xsd:extension base="beans:identifiedType">
                    <xsd:sequence>
                        <xsd:element name="defaultTargetDataSource" type="dataSourceWrapper" minOccurs="0" maxOccurs="1"></xsd:element>
                        <xsd:element ref="targetDataSources" minOccurs="1" maxOccurs="1"></xsd:element>
                    </xsd:sequence>
                    <xsd:attribute name="route" type="xsd:string" use="optional" default="simple"/>
                </xsd:extension>
            </xsd:complexContent>
        </xsd:complexType>
    </xsd:element>



    <xsd:element name="targetDataSources">
        <xsd:annotation>
            <xsd:documentation><![CDATA[目标数据源]]></xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="dataSource" type="dataSourceWrapper" minOccurs="1" maxOccurs="unbounded"></xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>


    <xsd:complexType name="dataSourceWrapper">
        <xsd:annotation>
            <xsd:documentation>
                <![CDATA[ 数据源配置]]>
            </xsd:documentation>
        </xsd:annotation>
        <xsd:complexContent>
            <xsd:extension base="beans:identifiedType">
                <xsd:attribute name="deployRoom" type="xsd:string" use="required"/>
                <xsd:attribute name="role" type="xsd:string" use="optional" default="MASTER"/>
                <xsd:attribute name="weight" type="xsd:string" use="optional" default="0"/>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>



</xsd:schema>