x-jdbc-config/src/main/resources/META-INF/x-jdbc.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns="http://xjdbc.jd.com/schema/xjdbc"
            xmlns:xsd="http://www.w3.org/2001/XMLSchema"
            xmlns:beans="http://www.springframework.org/schema/beans"
            targetNamespace="http://xjdbc.jd.com/schema/xjdbc"
            elementFormDefault="qualified" attributeFormDefault="unqualified">
    <xsd:import namespace="http://www.springframework.org/schema/beans"/>

    <xsd:element name="masterSlave" id="masterSlave">
        <xsd:annotation>
            <xsd:documentation><![CDATA[ 读写分离数据源标签 集群数据源ID,路由算法默认随机 ]]></xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:complexContent>
                <xsd:extension base="beans:identifiedType">
                    <xsd:sequence>
                        <xsd:element name="masterDataSource" type="masterDataSourceConfig" minOccurs="1" maxOccurs="1"></xsd:element>
                        <xsd:element ref="slaveDataSources" minOccurs="1" maxOccurs="1"></xsd:element>
                        <xsd:element name="strategy" type="masterDataSourceConfig" minOccurs="1" maxOccurs="1"></xsd:element>
                    </xsd:sequence>
                    <xsd:attribute name="route" type="route" use="optional" default="SIMPLE"/>
                </xsd:extension>
            </xsd:complexContent>
        </xsd:complexType>
    </xsd:element>



    <xsd:complexType name="masterDataSourceConfig">
        <xsd:annotation>
            <xsd:documentation>
                <![CDATA[ master数据源配置]]>
            </xsd:documentation>
        </xsd:annotation>
        <xsd:complexContent>
            <xsd:extension base="beans:identifiedType">
                <xsd:attribute name="roomArea" type="roomArea" use="required"/>
                <xsd:attribute name="name" type="xsd:string" use="required"/>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>


    <xsd:element name="slaveDataSources">
        <xsd:annotation>
            <xsd:documentation><![CDATA[目标数据源]]></xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="dataSource" type="slaveDataSourceConfig" minOccurs="1" maxOccurs="unbounded"></xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>




    <xsd:complexType name="slaveDataSourceConfig">
        <xsd:annotation>
            <xsd:documentation>
                <![CDATA[ slave数据源配置]]>
            </xsd:documentation>
        </xsd:annotation>
        <xsd:complexContent>
            <xsd:extension base="beans:identifiedType">
                <xsd:attribute name="roomArea" type="roomArea" use="required"/>
                <xsd:attribute name="weight" type="weight" use="optional" default="0"/>
                <xsd:attribute name="name" type="xsd:string" use="required"/>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>



    <xsd:simpleType name="route" >
        <xsd:restriction base="xsd:string">
            <xsd:enumeration value="SIMPLE"/>
            <xsd:enumeration value="RANDOM"/>
            <!--<xsd:enumeration value="LOCALROOM"/>-->
        </xsd:restriction>
    </xsd:simpleType>


    <xsd:simpleType name="roomArea" >
        <xsd:restriction base="xsd:string">
            <xsd:enumeration value="LF"/>
            <xsd:enumeration value="MJQ"/>
        </xsd:restriction>
    </xsd:simpleType>


    <xsd:simpleType name="weight" >
        <xsd:restriction base="xsd:string">
            <xsd:enumeration value="0"/>
            <xsd:enumeration value="3"/>
            <xsd:enumeration value="6"/>
        </xsd:restriction>
    </xsd:simpleType>

</xsd:schema>