x-jdbc-config/src/main/resources/META-INF/x-jdbc.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns="http://xjdbc.jd.com/schema/xjdbc"
            xmlns:xsd="http://www.w3.org/2001/XMLSchema"
            xmlns:beans="http://www.springframework.org/schema/beans"
            targetNamespace="http://xjdbc.jd.com/schema/xjdbc"
            elementFormDefault="qualified" attributeFormDefault="unqualified">
    <xsd:import namespace="http://www.springframework.org/schema/beans"/>

    <xsd:element name="masterSlave" id="masterSlave">
        <xsd:annotation>
            <xsd:documentation><![CDATA[ 读写分离数据源标签 集群数据源ID,路由算法默认随机 ]]></xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:complexContent>
                <xsd:extension base="beans:identifiedType">
                    <xsd:sequence>
                        <xsd:element name="masterDataSource" type="masterDataSourceConfig" minOccurs="1" maxOccurs="1"></xsd:element>
                        <xsd:element ref="slaveDataSources" minOccurs="1" maxOccurs="1"></xsd:element>
                        <xsd:element name="strategy" type="strategyConfig" minOccurs="0" maxOccurs="1"></xsd:element>
                    </xsd:sequence>
                    <xsd:attribute name="dataSourceFactory" type="xsd:string" use="optional" />
                </xsd:extension>
            </xsd:complexContent>
        </xsd:complexType>
    </xsd:element>



    <xsd:complexType name="masterDataSourceConfig">
        <xsd:annotation>
            <xsd:documentation>
                <![CDATA[ master数据源配置]]>
            </xsd:documentation>
        </xsd:annotation>
        <xsd:complexContent>
            <xsd:extension base="beans:identifiedType">
                <xsd:attribute name="roomArea" type="roomArea" use="optional"/>
                <xsd:attribute name="name" type="xsd:string" use="required"/>
                <xsd:attribute name="targetDataSource" type="xsd:string" use="required"/>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>


    <xsd:element name="slaveDataSources">
        <xsd:annotation>
            <xsd:documentation><![CDATA[目标数据源]]></xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="slaveDataSource" type="slaveDataSourceConfig" minOccurs="1" maxOccurs="unbounded"></xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>




    <xsd:complexType name="slaveDataSourceConfig">
        <xsd:annotation>
            <xsd:documentation>
                <![CDATA[ slave数据源配置]]>
            </xsd:documentation>
        </xsd:annotation>
        <xsd:complexContent>
            <xsd:extension base="beans:identifiedType">
                <xsd:attribute name="roomArea" type="roomArea" use="optional"/>
                <xsd:attribute name="weight" type="weight" use="optional" default="2"/>
                <xsd:attribute name="name" type="xsd:string" use="required"/>
                <xsd:attribute name="enable" type="xsd:boolean" default="false" use="optional"/>
                <xsd:attribute name="targetDataSource" type="xsd:string" use="required"></xsd:attribute>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>



    <xsd:complexType name="strategyConfig">
        <xsd:annotation>
            <xsd:documentation>
                <![CDATA[ 数据源策略配置]]>
            </xsd:documentation>
        </xsd:annotation>
        <xsd:complexContent>
            <xsd:extension base="beans:identifiedType">
                <xsd:attribute name="route" type="xsd:string"   use="optional"/>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>




    <xsd:simpleType name="roomArea" >
        <xsd:restriction base="xsd:string">
            <xsd:enumeration value="LF"/>
            <xsd:enumeration value="MJQ"/>
        </xsd:restriction>
    </xsd:simpleType>


    <xsd:simpleType name="weight" >
        <xsd:restriction base="xsd:string">
            <xsd:enumeration value="0"/>
            <xsd:enumeration value="2"/>
            <xsd:enumeration value="4"/>
        </xsd:restriction>
    </xsd:simpleType>

</xsd:schema>